# Default values for my-sshd.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: mpeten/sshd
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""


env:
  SSH_USER: max
  SSH_KEY: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDdjFPeNgm72Gdd1QPRbNfbADx40blkb5Noh2rSBMDGRf+Yynh6wzniyUWmblU87xb8uRvfyFzH8sxtgovp30kXYYkDuCK1n
4pBf6Kz0sIa0EuVOBvCB3hnX+hgooskXVavcJQtcetwaX7zrr9wh1klhJq+glLvbEd82O4XOaGuVEfbZ39UjRMaOOF2HGNh+3Rlt8DvhKWI2ZbOOccFpbZTDOwXRQv3pkz4O4
5jb0eDpAY2VkUCbpW3iWy36kPaWkS+Yw42S5IEpnHJldqqHRiaKQuz3rBxgbZ5QFq+USZBK+B+P8ux+toYTsHMy7fDRjUuNrhTHVjbwLxFVfu9hj0p root@controlplane"


serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: NodePort
  port: 22

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
